.link-style{
    margin: 0 30px;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    font-weight: 500;
    border: 1px solid blue;
    border-radius: 20px;

    
}
.link-style:hover{
 background-color: blue;
 color: white;
 border-radius: 20px;
}
.radius{
    border-radius: 10px;
}